@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

header{
	margin-bottom: 1em;
	margin-top: 1em;
}

/* Letter formatting */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:acronym"]{
	font-variant: all-small-caps;
}

abbr[epub|type~="se:era"]{
	font-variant: all-small-caps;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
	text-indent: 0;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}
/* End Letter formatting */

q{
	font-style: italic;
}

q i{
	font-style: normal;
}

#police-operation blockquote{
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}

#he-walked-around-the-horses blockquote:first-of-type,
#police-operation blockquote:first-of-type{
	font-style: italic;
	font-variant: none;
	text-align: initial;
}

#operation-r-s-v-p blockquote header p:first-of-type,
#he-walked-around-the-horses blockquote header p:first-of-type{
	font-style: italic;
	margin-bottom: 0.5em;
	text-align: center;
	text-indent: 0;
}

#lone-star-planet blockquote header{
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}

#lone-star-planet div + p{
	text-indent: 0;
}

blockquote.newspaper-article p{
	text-align: center;
	text-indent: 0;
}

blockquote.newspaper-article p:first-of-type{
	font-style: italic;
}

blockquote.newspaper-article p:first-of-type i{
	font-style: normal;
}

/* styling for songs and verse */
[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

/* This is so we can give attribution to a second author of the story */
.authors{
	font-style: italic;
	text-align: center;
	text-indent: 0;
}

#lone-star-planet-2 blockquote:last-of-type{
	font-style: italic;
}
