@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

header{
	margin-bottom: 1em;
	margin-top: 1em;
}

/* Letter formatting */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}
/* End Letter formatting */

#he-walked-around-the-horses blockquote:first-of-type,
#police-operation blockquote:first-of-type{
	font-style: italic;
}

#he-walked-around-the-horses blockquote header p:first-of-type{
	font-style: italic;
	margin-bottom: 0.5em;
	text-align: center;
	text-indent: 0;
}
